/* Services Styling */

.services-row-1,
.services-row-2 {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;

  p {
    margin-bottom: 30px;
  }
}

.services-row-2 {
  margin-top: 30px;
  padding-bottom: 40px;
}

.services-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    width: 70%;
  }
}
