/* Testimonials Styles */

.testimonial-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-slider {
  // display: block;

  width: 85%;
}

.testimonial-block {
  padding: 10px;
}

.custom-left-arrow,
.custom-right-arrow {
  width: 50px;
  font-size: 4rem;
  color: #3f3d56;
}
